html {
  
    
}


body {

    font-family: "Raleway", "Sans serif";
    margin: 0;
}


/* Header */






.main {

    max-width: 1440px;
margin: auto;

box-sizing: border-box;
}










.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    grid-template-columns: auto 1fr auto auto;
grid-template-areas: "logo . navbar button";
}

.headerImg {
    grid-area: logo;
    padding: 0 2rem;
    height: 2.813rem;
    border-style: none;  }

    .headerNav {
    display: flex;
    align-items: center;
    grid-area: navbar-start;
}

.Lien {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    border-bottom: 3px transparent solid;
    font-family: 'Raleway', sans-serif;

    text-decoration: none;
      color: #0065FC;  
    border-top: 3px solid #0065FC;
}



.Lien2 {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    border-bottom: 3px transparent solid;
    font-family: 'Raleway', sans-serif;
color: black;
    text-decoration: none;
}

.Lien2[data-active="true"] {
    color: #0065FC;  
    border-top: 3px solid #0065FC;
  text-decoration: none;

}

.Lien2[data-active="true"]a {

  
}
.Inscription{
   display: flex;
align-items: center;
grid-area: button;
padding: 2rem;
font-weight: 600;
text-decoration: none;
font-size: 17px;
font-family: 'Raleway', sans-serif;
color: #0065FC;

}




nav ul {
    list-style-type: none;
    
    padding-right: 50px;
display: flex;
justify-content: space-between;

}

nav li {
    margin-left: 50px;
    color: #0065FC;
    font-family: 'Raleway', sans-serif;


}

.top {
display: flex;
justify-content: space-between;
    flex-wrap: wrap;
}


#navigation {

    display: flex;
    align-items: flex-end;

}


#lien li a {

    text-decoration-line: none;
}

.top img {

    width: 97px;
    height: 45px;




    


}
/* En-tête */







#entete {

    margin: 30px 0px 0px 50px;
    font-family: 'Raleway', sans-serif;

}


#title {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;


}


#centre_ville {

    color: rgb(0, 0, 0);
    margin-top: 3px;

}

#site-search {


    margin-left: 10px;
}




.search input {
    font-size: 1.1em;
    box-sizing: border-box;
}

.search input[type="search"] {
    width: 290px;
    height: 50px;
    padding: 0 25px;
    border-right: none;
border-left: none;
    border-color: lightgrey;
}


.search input[type="search"]::placeholder {

    color: black;
    text-align: center;
    font-weight: bold;
}

 /* TEST *//* TEST *//* TEST *//* TEST *//* TEST *//* TEST *//* TEST *//* TEST */    



input[type=text]:hover {
background: #f2f2f2; }

textarea:hover { background: #f2f2f2; }

input.button {
background: #72ae00; color: #fff; border-color: #72ae00; border-radius:4px; height: 40px; width: 50px; font: bold 15px arial, sans-serif; text-shadow:none; cursor:pointer; }


/* TEST *//* TEST *//* TEST *//* TEST *//* TEST *//* TEST *//* TEST *//* TEST */




#recherche {
margin-left: -21px;
    outline: none;
    margin-left: -21px;
border-right: none;
border-left: none;
border-top: #E6E5E5 1px solid;
border-bottom: #E6E5E5 1px solid;
}

#button {
    position: relative;
    left: -5px;
    font-size: 1.1em;
    border-radius: 0 15px 15px 0;
    height: 50px;
    width: 130px;
    background-color: #0065FC;
    color: #fff;
    border: none;
}




#map {   
    
    border-radius:15px 0 0 15px;
    height: 50px;
font-size: 1.1em;
    position: relative;
    right: 1px;
}
}


#filtre1 {
    list-style-type: none;

    padding-right: 50px;


}


/* TEST *//* TEST */ 






#eco {

    width: 174px;
  margin-right: 10px;
text-decoration: none;
border: 1px solid #d3d3d3;
padding-top: 9px;
border-radius: 0px 25px 25px 0px;
text-align: center;
color: black;
font-size: 1.3em;
font-weight: bold;
font-family: 'Raleway', sans-serif;
margin-left: -0.5%;
margin-bottom: 2px;
margin-top: 8px;

}




#familial {
   width: 137px;
 margin-right: 10px;
text-decoration: none;
border: 1px solid #d3d3d3;
padding-top: 9px;
border-radius: 0px 25px 25px 0px;
text-align: center;
color: black;
font-size: 1.3em;
font-weight: bold;
font-family: 'Raleway', sans-serif;
margin-left: -0.5%;
margin-bottom: 2px;
margin-top: 8px;

}

#romantique{

  width: 170px;
  margin-right: 10px;
text-decoration: none;
border: 1px solid #d3d3d3;
padding-top: 9px;
border-radius: 0px 25px 25px 0px;
text-align: center;
color: black;
font-size: 1.3em;
font-weight: bold;
font-family: 'Raleway', sans-serif;
margin-left: -0.5%;
margin-bottom: 2px;
margin-top: 8px;
}

#animaux {
width: 233px;

 margin-right: 10px;
text-decoration: none;
border: 1px solid #d3d3d3;
padding-top: 9px;
border-radius: 0px 25px 25px 0px;
text-align: center;
color: black;
font-size: 1.3em;
font-weight: bold;
font-family: 'Raleway', sans-serif;
margin-left: -0.5%;
margin-bottom: 2px;
margin-top: 8px;

}




.list-group{

    display: flex;

    
   margin:  38px 0 32px -60px;
}




.fa, .fas{

    color: blue;
}



.list-group p {
font-size: 1.1em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;

    margin-right: 20px;
    margin-left: 60px;

}



.list-group i {

position: relative;
right: -14px;
top: 8px;
border: 1px solid #DEEBFF;
width: 45px;
height: 46px;
box-sizing: border-box;
background-color: #DEEBFF;
border-radius: 50px;




}



i.fas.fa-money-bill-wave
{
padding: 12px;


}



i.fas.fa-dog.fa-lg
{
padding: 10px;


}

i.fas.fa-child.fa-lg {
padding: 14px;

}

i.fas.fa-heart {
padding: 14px;

}


.list-item {

        margin-right: 4%;
   
    text-decoration: none;
    border: 1px solid gray;
    padding-top: 12px;
    border-radius: 50px;
    text-align: center;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}


i.fas.fa-info {

border: 1px solid #C6C6C6;
height: 9px;
box-sizing: border-box;
border-radius: 50px;
padding-top: 7px;
padding-bottom: 23px;
padding-left: 12px;
padding-right: 12px;
margin-right: 5px;

}






.filtre {

    margin-top: 20px;
    border-radius: 0 25px 25px 0;
    padding-right: 80px
    outline:none;
text-decoration: 0;
text-underline-position: none;

}

.filtre ul {


        display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding: 50px;
    align-items: revert;
    align-content: flex-end;
    margin-right: 25%;
    text-decoration: 0;

    text-underline-position: none;
}


.filtre ul li {
text-underline-position: none;

    border: solid 2px;
border-radius: 50px;
padding: 5px;
text-decoration: 0;
}


.filtre input[type="text" ] {

    height: 40px;
    border-style: solid;

  text-align: center;
    margin: 10px;
    

    border-radius: 25px 25px 25px 25px;
}


.filtre input {

    padding-left: 20px;
}


.filtre label {

    font-size: 1.1em;
    color: black;
    font-weight: bold;

}

.filtre input[type="text" ]::placeholder {
font-size: 15px;
    color: black;
    font-weight: bold;
   
  margin:50%;
    
}





.paragraphe {

    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;

}






.searchbar button{

   font-size: 30px;

cursor: pointer;
}


#map{

    padding-top: 5px;
    border-radius: 15px 0 0 15px;
height: 51px;
font-size: 1.1em;
position: relative;
border-right: none;
border-left: none;
border-top: #F2F2F2 1px solid;
padding: 20px;
    padding-top: 20px;
padding-top: 14px;
border-bottom: none;
}







/* Section */




.color-grey {
    background-color: #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    margin-right: 26px;


}


.title2 {
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
padding-left: 30px;

}

.title3 {
 font-weight: bold;
    font-family: 'Raleway', sans-serif;
padding-left: 30px;
 font-size: 1.1em;
margin-top: 4%;
margin-bottom: 4%;

}

.ActivityTitle {   
grid-column: 1/-1;
}


.image {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
  



}

.image1 {
background: white;
border-radius: 25px 25px 25px 25px;
padding: 4px;
    
padding-right: 5px;
padding-bottom: 10px;



border-radius: 1.25rem;
box-shadow: 0 0 16px #0000002e;
transition-duration: 0.1s;
cursor: pointer;

height: 100%;
}

.image1 img {
 width: 250px;
border-radius: 20px 20px 0 0;
max-height: 119px;
    object-fit: cover;
}


.image1 p {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding-left: 15px;
    margin-top: 6px;
margin-bottom: 6px;
}

.image1 span {
    color: gray;
     padding-left: 15px;

}

.image1 i {
   


}

.image1:hover {
transform: scale(1.02);
transition-duration: 0.2s;

}

.text-blue {
    color: blue;
    
  }
.text-gray {
    color: gray;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.row > [class^="col-"] > div {
    padding: .75rem;
    margin: .75rem;
}
 
 .etoile {
padding-left: 14px;
 

 }


/* Populaire */



 .color-grey-populaire {
 background-color: #F2F2F2;
height: 94%;
border-radius: 25px 25px 25px 25px;
padding-bottom: 45px;

 }


.populaire {
display: flex;
flex-direction: column;
align-items: center;
padding-right: 10px;
padding-left: 10px;

}


   


.image2 {
width: 90%;
height: 140px;
text-align: left;
background: white;
padding: 3px;
   
padding-left: 4px;

    
border-radius: 20px 20px 20px 20px;
margin: 10px;
  
margin-top: 3px;
margin-bottom: 24px;

}

.image2 img {
   width: 35%;
height: 100%;
border-radius: 20px 0 0 20px;

    float: left;


}

.image2 p {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding-left: 40%;


}

.image2 span {
    color: gray;
padding-left: 5%;
}

.image2 i {

    margin-top: 10px;


}


.image2:hover {
transform: scale(1.02);
transition-duration: 0.2s;

}


.text-blue {
    color: blue;

}

.text-gray {
    color: gray;
}

.etoiles {

    padding-left: 145px;
}


/* Activités */


.activité {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;


}



.color-blue {
    background-color: white;

    border-radius: 25px 25px 25px 25px;


}

.title4 {
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;


}


.image4 {
    max-width: 320px;
    background: white;
    padding: 2px;
    padding-bottom: 2px;
    padding-bottom: 1px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 1px 12px #555;

}


.image4 img {
    width: 100%;
    border-radius: 25px 25px 0 0;
    max-height: 110px;
}

.first {
    max-width: 307px;
    margin: 2px;
    margin-bottom: 2px;
    background: white;
    padding: 2px;
    padding-bottom: 36px;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 32px;
    box-shadow: 1px 1px 12px #555;

}

.first img {
    width: 100%;
    border-radius: 25px 25px 0 0;
    max-height: 110px;
}


.image0 {
    max-width: 307px;
    margin: 2px;
    margin-bottom: 2px;
    background: white;
    padding: 2px;
    padding-bottom: 36px;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 32px;
    box-shadow: 1px 1px 12px #555;


}

.image0 img {
    width: 100%;

    border-radius: 25px 25px 0 0;
}

.image0 p {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.image0 span {
    color: gray;

}

.image0 i {
    margin-top: 10px;

}

.text-blue {
    color: blue;
}

.text-gray {
    color: gray;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.row > [class^="col-"] > div {
    padding: .75rem;
    margin: .75rem;
}





.image-activité {
    max-width: 350px;
    max-height: 100px;
    margin: 5px;
    background: white;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 3px;
    box-shadow: 1px 1px 12px #555;

}

.image-activité img {
    width: 100%;

    border-radius: 25px 25px 0 0;
}

.image-activité {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.image-activité span {
    color: gray;

}

.image-activité i {
    margin-top: 10px;

}

.text-blue {
    color: blue;
}

.text-gray {
    color: gray;
}



.box{
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 1px 12px #555;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.box p{
    color: black;
    font-weight: bold;
}

.box a {
    text-decoration: none;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 50px;
}

.box img{
    border-radius: 25px 25px 0 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}







/* Footer */

.row2 {
 background-color: #F2F2F2;
height: 200px;
}


.container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}




.title6 {
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
margin-left: 65px;

   }


.linkfooter li a {
  text-decoration-line: none;
  color: black;
  
    font-family: 'Raleway', sans-serif;

}


.linkfooter {

    line-height: 2.1em;
    padding-left: 65px;
    list-style-type: none;
}

.linkfooter li a:hover {
    text-decoration-line: underline;
}

.colone1 {

padding-right: 20px;
}

.colone2 {


    margin-right: 420px;
}


/* Footer */

.row2 {
 background-color: #F2F2F2;
height: 200px;
}


.container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}




.title6 {
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
margin-left: 65px;

   }


.linkfooter li a {
  text-decoration-line: none;
  color: black;
  
    font-family: 'Raleway', sans-serif;

}


.linkfooter {

    line-height: 2.1em;
    padding-left: 65px;
    list-style-type: none;
}

.colone1 {

padding-right: 20px;
}

.colone2 {


    margin-right: 420px;
}








/* Media */

@media (max-width: 410px) 


{   


    .col-8 {
        flex: 0 0 auto;
        order: 2;
        width: 100%;
      
    }

    .col-4 {
        flex: 0 0 auto;
        order: 1;
        width: 100%;
        
    }

    .col-3 {
        flex: 0 0 auto;
        width: 49%;
    }

    section {
        margin-top: 30px;
    }







.image{

display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin-bottom: 20px;

}



.image1 {
width: 90%;

    background: white;
border-radius: 25px 25px 25px 25px;
margin: 10px;

}

.image1 img {

    width: 100%;
}


.image2 img {

    object-fit: cover;
}
    #conteneur
    {
        
      margin: 4rem 0;
display: flex;
flex-direction: column;
align-items: center;
    }


.box {
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 1px 12px #555;
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 90%;
}
    .box h3 {
      margin: 1.2rem 1.5rem;
font-family: "Raleway", "Sans serif";
line-height: 1.15;   
margin: 1.2rem 1.5rem;  }
   
    .box a {
color: inherit;
text-decoration: none;
grid-template-rows: 1fr 55px;
    }
   .ActivityTitle {   
      grid-column: 1/-1;
      
      margin-bottom: 10px;
       margin-inline-end: auto;
margin-left: 26px;
    }

 .box img {       
    border-radius: 25px 25px 0 0;
width: 100%;
object-fit: cover;
height: 144px;
       }
       .ConteneurFiltres{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.searchFiltersTitle {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}
.FiltreTitre{

    display: flex;
align-items: center;
margin-right: 35px;
margin-top: 4px;
}

.Filtres {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    cursor: pointer;
}





.Filtreicon {

    background-color: #DEEBFF;
border-radius: 100%;
height: 3rem;
width: 3rem;
min-height: 2.5rem;
min-width: 3.5rem;
display: flex;
align-items: center;
justify-content: center;
margin: -2px
}

.EcoTitre{
    margin: 15PX;
}



#Boutonrecherche {

 display: none !important;
}
 
 i.fas.fa-search  {

    font-size: 1.1em;
color: #fff;
 }


.searchbar {

    display: flex;
width: 100%;
max-width: 100%;
overflow: auto;

     }



.search input[type="search"] {
    width: 100%;
       }

    .etoiles {

   display: none !important;
}

.top img {

    width: 97px;
    height: 45px;
    

}


  .nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: -70px;
    margin-top: 29px;
}

.top {
    display: flex;
    flex-wrap: wrap;
}


.header {
    grid-template-columns: auto 1fr auto;
grid-template-areas: "logo . button" "navbar navbar navbar";


}

.headerNav {

    display: flex;
    align-items: center;
    grid-area:navbar;

}


.Inscription {
    grid-area: initial;
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    color: #0065FC;
    margin: auto;
    order: 1;
}

#entete {
    margin: 30px 0px 0px 15px;
    font-family: 'Raleway', sans-serif;
}


.Lien {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
    border-top: inherit;
}
.Lien2:hover {
    border-bottom: 3px solid #D9DBDE;
color: #0065FC;
    }

     .row2 {

        height: 100%;
      }  
.container {
    display: flex;
    justify-content: space-between;
     align-items: start;
    padding-top: 15px;
    flex-direction: column;
    margin-top: 30px;
    margin-left: -30px;
   
}

.colone1 {
    padding-right: 0;
}

.colone2 {
    margin-right: 0;
}

.Filtres:hover 
{

background-color: #F6FAFF;

}

}


    


@media (min-width: 411px) and  (max-width: 599px)
{   


    .col-8 {
        flex: 0 0 auto;
        order: 2;
        width: 100%;
      
    }

    .col-4 {
        flex: 0 0 auto;
        order: 1;
        width: 100%;
        
    }

    .col-3 {
        flex: 0 0 auto;
        width: 49%;
    }

    section {
        margin-top: 30px;
    }







.image{

display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin-bottom: 20px;

}



.image1 {
width: 90%;

    background: white;
border-radius: 25px 25px 25px 25px;
margin: 10px;

}

.image1 img {

    width: 100%;
}



    #conteneur
    {
        
      margin: 4rem 0;
display: flex;
flex-direction: column;
align-items: center;
    }


.box {
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 1px 12px #555;
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 90%;
}
    .box h3 {
      margin: 1.2rem 1.5rem;
font-family: "Raleway", "Sans serif";
line-height: 1.15;   
margin: 1.2rem 1.5rem;  }
   
    .box a {
color: inherit;
text-decoration: none;
grid-template-rows: 1fr 55px;
    }
   .ActivityTitle {   
      grid-column: 1/-1;
      
      margin-bottom: 10px;
       margin-inline-end: auto;
margin-left: 26px;
    }

 .box img {       
    border-radius: 25px 25px 0 0;
width: 100%;
object-fit: cover;
height: 144px;
       }
       .ConteneurFiltres{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.searchFiltersTitle {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}
.FiltreTitre{

    display: flex;
align-items: center;
margin-right: 35px;
margin-top: 4px;
}

.Filtres {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.Filtreicon {

    background-color: #DEEBFF;
border-radius: 100%;
height: 3rem;
width: 3rem;
min-height: 2.5rem;
min-width: 3.5rem;
display: flex;
align-items: center;
justify-content: center;
margin: -2px
}

.EcoTitre{
    margin: 15PX;
}



#Boutonrecherche {

 display: none !important;
}
 
 i.fas.fa-search  {

    font-size: 1.1em;
color: #fff;
 }


.searchbar {

    display: flex;
width: 100%;
max-width: 100%;
overflow: auto;

     }



.search input[type="search"] {
    width: 100%;
       }

    .etoiles {

   display: none !important;
}

.top img {

    width: 97px;
    height: 45px;
    

}


  .nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: -70px;
    margin-top: 29px;
}

.top {
    display: flex;
    flex-wrap: wrap;
}


.header {
grid-template-columns: auto 1fr auto;
grid-template-areas: "logo . button" "navbar-start navbar-end navbar-end";


}


.Inscription {
    grid-area: initial;
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    color: #0065FC;
    margin: auto;
}

.Lien2:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
    }


          .row2 {

         height: 100%;
      }  
.container {
    display: flex;
    justify-content: space-between;
     align-items: start;
    padding-top: 15px;
    flex-direction: column;
    margin-top: 30px;
    margin-left: -30px;
}


.Filtres:hover 
{

background-color: #F6FAFF;

}
}





@media (min-width: 600px) and (max-width: 709px){


    .col-8 {
        flex: 0 0 auto;
        order: 2;
        width: 100%;
      
    }

    .col-4 {
        flex: 0 0 auto;
        order: 1;
        width: 100%;
        
    }

    .col-3 {
        flex: 0 0 auto;
        width: 49%;
    }

    section {
        margin-top: 30px;
    }







.image{

display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin-bottom: 20px;

}



.image1 {
width: 90%;

    background: white;
border-radius: 25px 25px 25px 25px;
margin: 10px;

}

.image1 img {

    width: 100%;
}



    #conteneur
    {
        
      margin: 4rem 0;
display: flex;
flex-direction: column;
align-items: center;
    }


.box {
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 1px 12px #555;
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 90%;
}
    .box h3 {
      margin: 1.2rem 1.5rem;
font-family: "Raleway", "Sans serif";
line-height: 1.15;   
margin: 1.2rem 1.5rem;  }
   
    .box a {
color: inherit;
text-decoration: none;
grid-template-rows: 1fr 55px;
    }
   .ActivityTitle {   
      grid-column: 1/-1;
      
      margin-bottom: 10px;
       margin-inline-end: auto;
margin-left: 26px;
    }

 .box img {       
    border-radius: 25px 25px 0 0;
width: 100%;
object-fit: cover;
height: 144px;
       }
       .ConteneurFiltres{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.searchFiltersTitle {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}
.FiltreTitre{

    display: flex;
align-items: center;
margin-right: 35px;
margin-top: 4px;
}

.Filtres {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.Filtreicon {

    background-color: #DEEBFF;
border-radius: 100%;
height: 3rem;
width: 3rem;
min-height: 2.5rem;
min-width: 3.5rem;
display: flex;
align-items: center;
justify-content: center;
margin: -2px
}

.EcoTitre{
    margin: 15PX;
}



#Boutonrecherche {

 display: none !important;
}
 
 i.fas.fa-search  {

    font-size: 1.1em;
color: #fff;
 }


.searchbar {

    display: flex;
width: 100%;
max-width: 100%;
overflow: auto;

     }



.search input[type="search"] {
    width: 100%;
       }

       .etoiles {

    padding-left: 40%;
}

.header {
    grid-template-columns: auto 1fr auto;


display: grid;
align-items: center;
max-width: 1440px;
margin: auto;


}

.header img {

    grid-area: logo-start;
padding-left: 3rem;
}
.headerNav {

    order: 2;
}

.Lien1 {

    color: #0065FC;
border-bottom: 3px solid #0065FC;
font-size: larger;
}

#entete {
margin: 30px 0px 0px 12px;
font-family: 'Raleway', sans-serif;

}

.image2 img {
    width: 35%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    float: left;
    object-fit: cover;
}

.Inscription {
   
    display: flex;
    align-items: center;
    padding: 2rem;
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    color: #0065FC;

}
.Lien2:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
    }

    .row2 {
    background-color: #F2F2F2;
    height: 100%;
}

.container {
margin-right: -42%;
align-items: inherit;
}


.Filtres:hover 
{

background-color: #F6FAFF;

}
}







@media (min-width: 710px) and (max-width: 992px){


    .col-8 {
        flex: 0 0 auto;
        order: 2;
        width: 100%;
      
    }

    .col-4 {
        flex: 0 0 auto;
        order: 1;
        width: 100%;
        
    }

    .col-3 {
        flex: 0 0 auto;
        width: 49%;
    }

    section {
        margin-top: 30px;
    }


.image{

display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 20px;

}


.Lien2:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
    }

.image1 {


    background: white;
border-radius: 25px 25px 25px 25px;
width: 100%;
margin: 10px;
}

.image1 img {

    width: 100%;
}
  
    .image2 {

        
        background: white;
        padding: 5px;

        border-radius: 25px 25px 25px 25px;
        margin-bottom: 23px;

    }

.image2 img {

    object-fit: cover;
}

#conteneur {

    row-gap: 2rem;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: auto 14rem 14rem 14rem auto;
display: grid;
}

    

   
.box h3 {
      margin: 1.2rem 1.5rem;
font-family: "Raleway", "Sans serif";
line-height: 1.15;     }
   

    .box a {
color: inherit;
text-decoration: none;
    }
   .ActivityTitle {   
      grid-column: 1/-1;
      padding-left: 20px;
      margin-bottom: 10px;

    }

    .ConteneurFiltres{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.searchFiltersTitle {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}
.FiltreTitre{

    display: flex;
align-items: center;
margin-right: 35px;
margin-top: 4px;
}

.Filtres {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.Filtreicon {

    background-color: #DEEBFF;
border-radius: 100%;
height: 3rem;
width: 3rem;
min-height: 2.5rem;
min-width: 3.5rem;
display: flex;
align-items: center;
justify-content: center;
margin: -2px
}

.EcoTitre{
    margin: 15PX;
}

        .searchbar {

        padding-left: 10px;
        display: inline-flex;
max-width: 100%;
    }
    .Boutonrecherche {

    position: relative;
left: -5px;
font-size: 1.1em;
border-radius: 0 15px 15px 0;
height: 50px;
width: 130px;
background-color: #0065FC;
color: #fff;
border: none;
}

i.fas.fa-search {

    display: none !important;
}

.etoiles {

    padding-left: 40%;
}

.Lien2:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
    }

    .row2 {
    background-color: #F2F2F2;
    height: 100%;
}

.container {
margin-right: -42%;
align-items: inherit;
padding-top: inherit;
}



.Filtres:hover 
{

background-color: #F6FAFF;

}
}



@media  (min-width: 993px) and (max-width: 1399px)  {

   .col-8 {
        flex: 0 0 auto;
        order: 2;
        width: 100%;
      
    }

    .col-4 {
        flex: 0 0 auto;
        order: 1;
        width: 100%;
        margin: auto;
        
    }
     
     .populaire {
    display: flex;
    align-items: center;
flex-direction: inherit;
padding-left: inherit;
padding-right: inherit;
}

.image1 img {
    height: 8rem;
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
}

  .image {

        margin-bottom: 20px;
    }



   .image1 {

    width: 100%;
    width: 100%;
    margin: 10px;
   }
  .image2 {
margin: 10px;
  }


    #conteneur
    {
       display: grid;
grid-template-columns: repeat(2, 1fr);
grid-auto-rows: 100px;
grid-template-rows: auto 14rem 14rem 14rem 2rem;
column-gap: 2rem;
    

    }
   
.box h3 {
      margin: 1.2rem 1.5rem;
font-family: "Raleway", "Sans serif";
line-height: 1.15;     }
   
    .box a {
color: inherit;
text-decoration: none;
    }

      .ActivityTitle {   
      grid-column: 1/-1;
      padding-left: 20px;
      margin-bottom: 10px;
    }
    

    .ConteneurFiltres{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}


.ConteneurFiltres{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.searchFiltersTitle {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}
.FiltreTitre{

    display: flex;
align-items: center;
margin-right: 35px;
margin-top: 4px;
}

.Filtres {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.Filtreicon {

    background-color: #DEEBFF;
border-radius: 100%;
height: 3rem;
width: 3rem;
min-height: 2.5rem;
min-width: 3.5rem;
display: flex;
align-items: center;
justify-content: center;
margin: -2px
}

.EcoTitre{
    margin: 15PX;
}



    .searchbar {

        padding-left: 10px;
        display: inline-flex;
max-width: 100%;
    }
    .Boutonrecherche {

    position: relative;
left: -5px;
font-size: 1.1em;
border-radius: 0 15px 15px 0;
height: 50px;
width: 130px;
background-color: #0065FC;
color: #fff;
border: none;
}

i.fas.fa-search {

    display: none !important;
}

.etoiles {

    padding-left: 40%;
}

.Lien2:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
    }

    .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 15px;
}


    .row2 {
    background-color: #F2F2F2;
    height: 100%;
}

.colone2 {
    margin-right: inherit;
    padding-right: 65px;
}

.colone1 {
    padding-right: 75px;
}

.Filtres:hover 
{

background-color: #F6FAFF;

}

}





@media (min-width: 1400px)   {
    .col-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
        height: 30%;
        order: 1;
    }

    .col-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
        height: 100%;
        order: 2;
    }

    .col-3 {
        flex: 0 0 auto;
        width: 25%;
    }


    section {
        margin-top: 30px;
        margin-right: 40px;
        margin-left: 40px;
    }



    #conteneur
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 100px;
        grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
          line-height: 2.15;
    }

    .box1 {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 7;
    }

    .box1:hover {
        transform: scale(1.02);
        transition-duration: 0.2s;


    }


    .box2 {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 6;
    }

  .box2:hover {
        transform: scale(1.02);
        transition-duration: 0.2s;


    }

    .box3 {
        grid-column-start: 2;
       grid-column: 2/3;
grid-row: 6/7;
    }

      .box3:hover {
        transform: scale(1.02);
        transition-duration: 0.2s;


    }

    .box4 {
        grid-column-start: 3;
        grid-row-start: 2;
        grid-row-end: 7;
    }

  .box4:hover {
        transform: scale(1.02);
        transition-duration: 0.2s;


    }


    .box5 {
        grid-column-start: 4;
        grid-row-start: 2;
        grid-row-end: 4;
    }

  .box5:hover {
        transform: scale(1.02);
        transition-duration: 0.2s;


    }



    .box6 {
        grid-column-start: 4;
        grid-row-start: 4;
        grid-row-end: 7;
    }


     .box6:hover {
        transform: scale(1.02);
        transition-duration: 0.2s;


    }

    .image {

        margin-bottom: 20px;
    }

.box h3 {
      margin: 1.2rem 1.5rem;
font-family: "Raleway", "Sans serif";
line-height: 1.15;     }
   
    .box a {
color: inherit;
text-decoration: none;
    }

    .ActivityTitle {   
      grid-column: 1/-1;
      padding-left: 20px;
      margin-bottom: 10px;
    }
    
    .list-group {

      padding-left: 10px;

    }


    .searchbar {

        padding-left: 10px;
        display: inline-flex;
max-width: 100%;
    }


    #title {

        padding-left: 10px;
    }

    
    #centre_ville {

        padding-left: 10px;
        line-height: 1.15;
    }



.populaire {
display: flex;
flex-direction: column;
align-items: center;
padding-right: 10px;
padding-left: 10px;

}

.ConteneurFiltres{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.searchFiltersTitle {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}
.FiltreTitre{

    display: flex;
align-items: center;
margin-right: 35px;
margin-top: 4px;
}

.Filtres {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.Filtres:hover 
{

background-color: #F6FAFF;

}


.Filtreicon {

    background-color: #DEEBFF;
border-radius: 100%;
height: 3rem;
width: 3rem;
min-height: 2.5rem;
min-width: 3.5rem;
display: flex;
align-items: center;
justify-content: center;
margin: -2px
}

.EcoTitre{
    margin: 15PX;
}


.Boutonrecherche {

    position: relative;
left: -5px;
font-size: 1.1em;
border-radius: 0 15px 15px 0;
height: 50px;
width: 130px;
background-color: #0065FC;
color: #fff;
border: none;
}

i.fas.fa-search {

    display: none !important;
}

.etoiles {

    padding-left: 40%;
}

.Lien2:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
    }

.colone1 {
    padding-right: 70px;
}


.colone {


    padding-left: 40px;
}

}












