/* Header */

header {

  

}


/* Navigation */

nav ul {
    list-style-type: none;
    
    padding-right: 50px;
display: flex;
justify-content: space-between;

}

nav li {
    margin-left: 50px;
    color: #0065FC;
    font-family: 'Raleway', sans-serif;


}

.top {
display: flex;
justify-content: space-between;
    flex-wrap: wrap;
}
#bloc_page {
    width: 900px;
    margin: auto;

}

#navigation {

    display: flex;
    align-items: flex-end;

}


#lien li a {

    text-decoration-line: none;
}

#logo img {

    width: 97px;
    height: 45px;
    padding-left: 50px;

}


/* En-tête */


#entete {

    margin: 30px 0px 0px 50px;
    font-family: 'Raleway', sans-serif;

}


#title {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;


}


#centre_ville {

    color: rgb(0, 0, 0);
    margin-top: 3px;

}

#site-search {


    margin-left: 10px;
}

.search {


}


.search input {
    font-size: 1.1em;
    box-sizing: border-box;
}

.search input[type="search"] {
    width: 290px;
    height: 50px;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    border-color: lightgrey;
}


.search input[type="search"]::placeholder {

    color: black;
    text-align: center;
    font-weight: bold;
}


#button {
    position: relative;
    left: -5px;
    font-size: 1.1em;
    border-radius: 0 15px 15px 0;
    height: 50px;
    width: 130px;


    background-color: #0065FC;
    color: #fff;

}


#filtre1 {
    list-style-type: none;

    padding-right: 50px;


}




.filtre {
    display: inline-block;
    margin-top: 20px;
    border-radius: 0 25px 25px 0;
    padding-right: 80px
    outline:none;


}


.filtre input[type="text" ] {

    height: 40px;
    border-style: solid;


    margin: 10px;
    width: auto;

    border-radius: 25px 25px 25px 25px;
}


.filtre label {

    font-size: 1.1em;
    color: black;
    font-weight: bold;

}

.filtre input[type="text" ]::placeholder {

    color: black;
    font-weight: bold;
    padding: 0 25px;
    text-align: center;
}

#Familial {

    outline: none;
    font-size:1.0em 
    
}

#romantique {
outline: none;
font-size:1.0em 
}

#economique {
outline: none;
font-size:1.0em 
}

#animaux {
 

    width: 200px;
    outline: none;
    font-size:1.0em 
}


#familial {

    width: 50px;
    outline: none;
}

#paragraphe {

    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;

}


/* Section */




.color-grey {
    background-color: #EBEAEB;
    border-radius: 25px 25px 25px 25px;


}


.title2 {
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
padding-left: 30px;

}

.title3 {
 font-weight: bold;
    font-family: 'Raleway', sans-serif;
padding-left: 30px;
 font-size: 1.1em;




}


.image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;



}

.image1 {
    max-width: 250px;
    max-height: auto;

    
    background: white;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 3px;


}

.image1 img {
    width: 100%;
    border-radius: 25px 25px 0 0;
    
}


.image1 p {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding-left: 15px;
}

.image1 span {
    color: gray;
     padding-left: 15px;

}

.image1 i {
   


}

.text-blue {
    color: blue;
}

.text-gray {
    color: gray;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.row > [class^="col-"] > div {
    padding: .75rem;
    margin: .75rem;
}
 
 .etoile {
padding-left: 14px;
 margin-top: 10px;

 }


/* Populaire */



 .color-grey-populaire {
 background-color: #EBEAEB;
height: 94%;
border-radius: 25px 25px 25px 25px;


 }


.populaire {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
height: 94%;


}


   


.image2 {

width: 90%;
height: 130px;
text-align:left;

    background: white;
 
    padding:3px;
    
    border-radius: 25px 25px 25px 25px;
   
 margin: 10px;


}

.image2 img {
    width: 40%;
    height: 100%;
    border-radius: 25px 0 0 25px;
    float: left;


}

.image2 p {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;


}

.image2 span {
    color: gray;

}

.image2 i {

    margin-top: 10px;


}

.text-blue {
    color: blue;
}

.text-gray {
    color: gray;
}


/* Activités */




.activité {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;

    
 

}
 
 .activité2 {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
    
    margin-top: 40px;

 

}
 

 .color-blue {
 background-color: white;

border-radius: 25px 25px 25px 25px;



 }  

.title4 {
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;


   }



.image5 {
    max-width: 350px;
    margin: 5px;
    background: white;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 3px;
box-shadow: 1px 1px 12px #555;

}
   

.image0 {
    max-width: 350px;
    
    margin: 5px;
    background: white;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 3px;
box-shadow: 1px 1px 12px #555;

}

.image0 img {
    width: 100%;
    
    border-radius: 25px 25px 0 0;
}

.image0 p {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.image0 span {
    color: gray;

}

.image0 i {
    margin-top: 10px;

}

.text-blue {
    color: blue;
}

.text-gray {
    color: gray;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.row > [class^="col-"] > div {
    padding: .75rem;
    margin: .75rem;
}
 


.row > [class^="col-"] > div {
    padding: .75rem;
    margin: .75rem;
}
 



.image-activité{
    max-width: 350px;
    max-height: 100px;
    margin: 5px;
    background: white;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 3px;
box-shadow: 1px 1px 12px #555;

}

.image-activité img {
    width: 100%;
    
    border-radius: 25px 25px 0 0;
}

.image-activité {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.image-activité span {
    color: gray;

}

.image-activité i {
    margin-top: 10px;

}

.text-blue {
    color: blue;
}

.text-gray {
    color: gray;
}


















/* Media */

@media (max-width: 375px) {
    .color-grey {


         background-color:  #f7f7f7
    }

    .image {
        display: block;
        justify-content: space-around;
        align-items: center;

    }

    .image1 {
        margin: auto;
        background: white;
        padding: 5px;
        padding-bottom: 10px;
        border-radius: 25px 25px 25px 25px;
        margin-bottom: 10px;

    }



}

@media (max-width: 575.98px) {



    .image {
        display: block;
        justify-content: space-around;
        order: 2;
        align-items: center;

    }

    .image1 {
        order: 1;
        margin: auto;
        background: white;
        padding: 5px;
        padding-bottom: 10px;
        border-radius: 25px 25px 25px 25px;
        margin-bottom: 10px;

    }

  




}


@media (max-width: 1199.98px) {



    .col-8 {
        flex: 0 0 auto;
        order: 2;
        width: 100%;


    }

    .col-4 {
        flex: 0 0 auto;
        order: 1;
        width: 100%;
    }

    section {
        margin-top: 30px;
    }



         .image2 {
       
        margin: auto;
        background: white;
        padding: 5px;
      
        border-radius: 25px 25px 25px 25px;
        margin-bottom: 30px;

    }
}



@media (min-width: 1200px) {
     .col-8
     {
        flex: 0 0 auto;
        width: 66.6666666667%;
        height: 30%;

    }

    .col-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
        height: 100%;
    }

    section {
        margin-top: 30px;
        margin-right: 40px;
        margin-left: 40px;
    }


      
        .row1  {

            display: flex;
        }
      
}

























